@use '../../../app/styles/colors.scss' as *;

.burger-button{
    color: $button-color;
    font-size: 24px;
    border-radius: 20px;
    padding: 6px;
    display: flex;
}

.burger-button:hover {
    background-color: #006ba070;
}