$background-color-1: #e5e5e5;
$background-color-2: #0088cc;
$background-color-3-hover: #006ba070;
$chat-container-background-color: #e5ddd5;
$sender-background-color: #dcf8c6;
$reciever-background-color: #ffffff;
$message-form-background-color: #f7f7f7;
$border-color: #ccc;
$chat-item-container-hover-background-color: #20202032;
$message-count-background-color: #b3b3b3;
$form-buttons-hover-color: #cccccc61;

$message-check-color: #34b7f1;
$button-color: #fff;
$last-seen-color: #dcdcdc;
$message-color: #202020;
$message-time-color: #888;
$box-shadow-color: rgba(204,169,44, 0);
$webkit-box-shadow-color: #0088cc39;