@use '../../shared/consts/colors.scss' as *;

.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 6px;
    background-color: $background-color-2;
    color: $button-color;
    min-height: 56px;
    gap: 10px;

    .user-container {
        display: flex;
        justify-content: center;
        gap: 6px;

        .user-info {
            display: flex;
            flex-direction: column;
            gap: 2px;

            & span {
                line-height: 1;
            }
    
            .chat-name {
                font-size: 16px;
            }
    
            .last-seen {
                font-size: 12px;
                color: $last-seen-color;
            }
        }
    }

    .functional-icons {
        display: flex;
        align-items: center;
    }
}
