@use '../../shared/consts/colors.scss' as *;

.edit-profile-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $background-color-2;
    color: $button-color;
    min-height: 56px;
    gap: 28px;

    .label-container {
        display: flex;
        justify-content: center;
    }

}