@use '../../app/styles/colors.scss' as *;

.chat-list-container {
    flex: 1;
    padding: 12px;
    overflow-y: scroll; 
    background-color: $chat-container-background-color;
    scrollbar-width: none;
    scroll-behavior: smooth;
    color: $message-color   ;
}