* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
}

button {
    border: 0;
    background: 0;
}

.main-container {
    width: 25%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #fff;
    border: 1px solid #ccc;
    overflow: hidden;
    border-radius: 20px;
}

.chat-list-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #0088cc;
    color: #fff;
    min-height: 56px;
    gap: 10px;
}

.burger-button{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    border-radius: 20px;
    padding: 6px;
}

.burger-button:hover {
    background-color: #006ba070;
}

.chat-name {
    font-size: 16px;
}

.chat-list-container {
    flex: 1;
    padding: 12px;
    overflow-y: scroll; 
    background-color: #e5ddd5;
    scrollbar-width: none;
    scroll-behavior: smooth; 
}

.message-time {
    font-size: 12px;
    color: #888;
}

.new-chat-button-container {
    position: fixed;
    z-index: 100;
    bottom: 30px;
    right: 600px;
    border: none;
    background-color: #ccc;
    border-radius: 16px;
    transform: scale(2.5);
    cursor: pointer;
    animation: pulse 2s infinite;
}

.new-chat-button-container:hover {
    animation: none;
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 #0088cc39;
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 #0088cc39;
      box-shadow: 0 0 0 0 #0088cc39;
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }

.new-chat-icon {
    font-size: 12px;
    color: #0088cc;
    margin: 4px;
}

.chat-link {
    text-decoration: none;
    color: #202020;
}

.left-container {
    display: flex;
    align-items: center;
    gap: 6px;
}

.chat-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 8px;
}

.chat-item-container:hover {
    background-color: #20202032;
    transition: 0.2s;
}

.chat-status {
    display: flex;
    align-items: center;
    gap: 4px;
}

.status-time {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.message-count {
    background-color: #b3b3b3;
    border-radius: 4px;
    padding: 4px;
}

.chat-avatar {
    font-size: 36px;
}

.delete-button {
    position: fixed;
    z-index: 100;
    bottom: 30px;
    right: 30px;
    border: none;
    color: #0088cc;
    background-color: none;
    border-radius: 16px;
    transform: scale(2.5);
    cursor: pointer;
}

.delete-icon {
    font-size: 20px;
}